<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <title>Chicken Game</title>
</head>
<body>
    <div id="gamewrapper">
        <canvas id="game" ></canvas>
        <div id="debug">
            <form>
                <label for="rain">Rain</label><input type="range" id="rain" min="0" max="100" value="0">
                <br/>
                <label for="time">Time</label><input type="range" id="time" min="0" max="100" value="100">
                <br/>
                <label for="zoom">Zoom</label><input type="range" id="zoom" min="0" max="2" value="1">
            </form>
        </div>
    </div>
</body>
</html>